body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    color: #fff;
    position: relative; /* Add position relative to contain absolute positioned images */
    overflow: hidden; /* Hide overflow for the hero section */
    height: 550px; /* Set the desired height for the hero section */
}

.hero-text {
    margin: 200px 600px;
    border-radius: 5px;
    padding: 2%;
    background-color: rgba(31, 43, 51, 0.75);
}

/* Uncomment the background-image property to set a background image */
.hero {
    /*background-image: url('event1.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slideshow-container {
    position: absolute; /* Position the slideshow container absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Set the width to 100% to cover the entire hero section */
    height: 100%; /* Set the height to 100% to cover the entire hero section */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Set a negative z-index to place it behind the text content */
}

.mySlides {
    display: absolute;
    opacity: 0;
    transition: opacity 1s;
    /*
    animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;*/
}

.fade-in{
    opacity: 1;
}

/*
@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}*/

.slide-image {
    width: 100%; /* Set the desired width */
    height: 550px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}


.mySlides:first-child {
    display: block;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: .5s;
}

.btn:hover {
    color: #daeefb;
    background-color: #444547;
}

.chair-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.chair {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.chair:hover { 
    transform: scale(1.02);
}

.chair img {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
}

.contact {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*
 *
 * Product Page Styles
 *
 */

 .product-info {
    margin: 100px 150px 100px 150px;
    display: flex;
    background-color: #6f6f6f;
 }

.product-info img {
    width: 300px;
    margin: 50px 125px;
    transition: transform .3s ease;
    box-shadow: 2px 2px 10px 0px #444547;
}

.product-info img:hover {
    transform: scale(1.02);
}

.description {
    background-color: #6f6f6f;
}

.pricing {
    color: rgb(255, 228, 92);
    transition: transform .2s ease;
}

.pricing:hover {
    font-size: 16px;
    color: rgb(255, 213, 0);
}

